@model Domain.DTOs.AccountDTOs.LoginDto
@{
    ViewBag.Title = "ورود";
    Layout = "_AccountLayout";
}

<div class="card auth-card shadow-lg">
    <div class="card-body">
        <div class="px-3">
            <div class="auth-logo-box">
                <a href="/analytics/analytics-index.html" class="logo logo-admin">
                    <img src="/assets/images/logo-sm.png" height="55" alt="logo" class="auth-logo">
                </a>
            </div><!--end auth-logo-box-->

            <div class="text-center auth-logo-text">
                <h4 class="mt-0 mb-3 mt-5">خوش آمدید!</h4>
                <p class="text-muted mb-0">وارد حساب کاربری خود شوید</p>
            </div> <!--end auth-logo-text-->


            <form class="form-horizontal auth-form my-4" asp-controller="Account" asp-action="Login" method="post">

                <div class="form-group">
                    <label asp-for="Username"></label>
                    <div class="d-flex flex-column">
                        <div class="input-group">
                            <span class="auth-form-icon">
                                <i class="dripicons-user"></i>
                            </span>
                            <input type="text" class="form-control" asp-for="Username" placeholder="نام کاربری را وارد کنید"/>
                        </div>
                        <span class="text-danger d-block mx-2" asp-validation-for="Username"></span>
                    </div>
                </div><!--end form-group-->

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <div class="d-flex flex-column">
                        <div class="input-group">
                            <span class="auth-form-icon">
                                <i class="dripicons-user"></i>
                            </span>
                            <input type="password" class="form-control" asp-for="Password" placeholder="رمز عبور را وارد کنید"/>
                        </div>
                        <span class="text-danger d-block mx-2" asp-validation-for="Password"></span>
                    </div>
                </div><!--end form-group-->

                <div class="form-group row mt-4">
                    <div class="col-sm-6">
                        <div class="custom-control custom-switch switch-success">
                            <input type="checkbox" class="custom-control-input" id="customSwitchSuccess">
                            <label class="custom-control-label text-muted" for="customSwitchSuccess">مرا به خاطر بسپار</label>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-6 text-right">
                        <a href="#" class="text-muted font-13"><i class="dripicons-lock"></i>رمز عبور خود را فراموش کرده اید؟</a>
                    </div><!--end col-->
                </div><!--end form-group-->

                <div class="form-group mb-0 row">
                    <div class="col-12 mt-2">
                        <button class="btn btn-primary btn-round btn-block waves-effect waves-light" type="submit">ورود<i class="fas fa-sign-in-alt ml-1"></i></button>
                    </div><!--end col-->
                </div> <!--end form-group-->
            </form><!--end form-->
        </div><!--end /div-->

        <div class="m-3 text-center text-muted">
            <p class="">حساب کاربری ندارید؟ <a asp-controller="Account" asp-action="Register" class="text-primary ml-2">ثبت نام</a></p>
        </div>
    </div><!--end card-body-->
</div><!--end card-->